# Vivado Project Files

*.jou
*.log
*.str
*.tmp
*.backup
*.wdb
*.xdc.backup
*.cache
*.hw
*.runs
*.xpr
*.tcl

# Simulation Files

*.vvp

# Vivado Generated Folders

.Xil/
cache/
runs/
sim/

# OS Files

.DS_Store
Thumbs.db

